# Semana 07
Montesinos Matta Juan Carlos

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

 5. Operadores

In [ ]:
# 5.1 Operadores Lógicos 
# Se tiene: + , - , * , / , ** , % , //

In [11]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print("Suma:" , suma)
print("Resta:" , resta)
print("Multiplicación:" , multiplicacion)
print("División:" , division)
print("Residuo:" , residuo)
print("Cociente:" , cociente)
print("Potencia:" , potencia)

Suma: 13
Resta: 7
Multiplicación: 30
División: 3.3333333333333335
Residuo: 1
Cociente: 3
Potencia: 1000

In [12]:
#5.2 Operadores de asignación
#Se tiene:  = , += , -= , /= , **=
numero = 5
numero = numero +3 
print(numero)

8

In [20]:
# La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [21]:
#Lo mismo se puede hacer con todos los casos, incluyendo la potencia
#Veamos otro ejemplo
numero = 5
numero = numero ** 3
print(numero)

125

In [22]:
# La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [ ]:
#5.3 Operadores de comparacion
# Se tiene: == , != , < , > , <= , >=

In [23]:
#Ejemplo de igualdad
numero1 = 5
numero2 = 2
numero == numero2

False

In [24]:
#Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [27]:
# Operadores Logicos
# Se tiene and , or , not
numero1 = 5
numero2 = 3 
numero3 = 7
numero4 = 8

In [31]:
numero1 < numero2

False

In [29]:
# El not invierte el resultado
not(numero1 < numero2)

True

In [32]:
numero1 < numero2 and numero3 < numero4

False

In [33]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

False

In [34]:
# 5.5 Operadores de pertenencia
# Se tiene: in , not in

In [35]:
#Miremos un ejemplo
aula = ["Juan" , "Darío" , "Ruben"]
alumno1= "Diego"
alumno2 = "Juan"

In [36]:
# ¿Diego esta en aula?
alumno1 in aula

False

In [37]:
# ¿Juan esta en aula?
alumno2 in aula

True

In [38]:
# ¿Diego no esta en aula?
alumno1 not in aula

True

In [39]:
# ¿Juan no esta en aula?
alumno2 not in aula

False

In [40]:
# 5.6 Operadores de identidad
# Se tiene is , is not

In [47]:
aula1 = ["Juan" , "Daniel" , "Ruben"]
aula2 = ["Juan" , "Daniel" , "Ruben"]
# A continuacion vamos a indicar que aula 3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [43]:
# ¿Aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [48]:
# ¿Aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [49]:
aula1.append("Diego")

In [50]:
# Al imprimir los elementos de la lista 1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [51]:
# Al imprimir los elementos de la lista 3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [52]:
# Al imprimir los elementos de la lista 2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']