# Semana 07
Montesinos Matta Juan Carlos

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por el teclado
    5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
# Universidad Nacional Tecnologica de Lima Sur
# 01234...
#                                        -2 -1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
cadena[11]

' '

In [6]:
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [9]:
#Tambien lo pueden mostrar accediendo de manera inversa
cadena[-23]

'T'

In [11]:
#Para mostrar una subcadena [desde, hasta una antes]
cadena[3:8]

'versi'

In [12]:
#Para saber el tamaño de una cadena utilizamos len()
#Incluye espacios en blanco
len(cadena)

44

In [15]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [17]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [16]:
#Para mostrar una cadena en minuscula utilizamos upper()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [19]:
#Generar una lista a partir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [25]:
#Generar una lista usando el criterio de separacion a partir de una cadena.split("A")
#En este caso vamos a generar una lista de toda la cadena
#Utilizando como criterio de separacion la letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [23]:
#Forma clásica, concatenar con +
nombre = "Juan Montesinos"
print("Buenas tardes " + nombre)

Buenas tardes Juan Montesinos

In [26]:
#Utilizando el .format()
nombre = "Juan Montesinos"
edad = 19
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Juan Montesinos ya se que tienes 19 años

In [36]:
#Dar formato a números con muchos decimales
resultado  = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))
#r:1.3f -> el r es la variable donde se almacena el valor, 1 es la cantidad de numeros enteros y el 3 la cantidad de decimales

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [41]:
#Dar formato con f
#La funcion f esta dispobible desde la version 3.6
Nombre = "Juan Montesinos"
edad = 19
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Juan Montesinos, ya se que tienes 19 años

In [42]:
#Dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333